* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
}
/*silly header*/
.header {
    background-color: turquoise;
    font-size: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.add-book {
    font-size: 10rem;
}
label {
    font-size: 20px;
}
dialog {
    width: 400px;

}

.main-content {
    grid-row: 2 / 7;
    display: flex;
    flex-wrap: auto;
    gap: 20px;
    margin: 1vh;
}
.book {
    border: 2px solid black;
    width: 18vw;
    height: 40vh;
}
.title {
    font-weight: 700;
    font-family: "Brush Script MT", "Lucida Handwriting", "Papyrus";
    font-size: 3rem;
}
.book p, .book button{
    margin-left: 1vw;
}
.book button {
    padding: 1rem 0.8rem;
    border-radius: 16px;
    margin-top: 2vh;
}
.book button:hover {
    background-color: lightgray;
}
